@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i");

* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.card {
  width: 320px;
  height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}

.card__part {
  box-shadow: 1px 1px #aaa3a3;
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 0;
  display: inline-block;
  width: 320px;
  height: 190px;
  background-image: linear-gradient(
    to right bottom,
    #000,
    red
  ); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-: preserve-3d;
  -moz-transform-: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card__front {
  padding: 18px;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}

.card__black-line {
  margin-top: 5px;
  height: 38px;
  background-color: #303030;
}

.card__logo {
  height: 25px;
}

.card__front-logo {
  position: absolute;
  top: 18px;
  right: 10px;
}
.card__square {
  border-radius: 5px;
  height: 34px;
  float: left;
}

.card_numer {
  display: flex;
  width: 100%;
  word-spacing: 4px;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.card__space-75 {
  width: 60%;
  float: left;
}

.card__space-25 {
  width: 25%;
  float: left;
}

.card__label {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
}

.card__info {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__back-content {
  padding: 15px 15px 0;
}
.card__secret--last {
  color: #303030;
  text-align: right;
  margin: 0;
  font-size: 14px;
}

.card__secret {
  padding: 5px 12px;
  background-color: #fff;
  position: relative;
}

.card__secret:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
  background: repeating-linear-gradient(
    45deg,
    #ededed,
    #ededed 5px,
    #f9f9f9 5px,
    #f9f9f9 10px
  );
}

.card__back-logo {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.card__back-square {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.card:hover .card__front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.card:hover .card__back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.card__part1 {
  box-shadow: 1px 1px #aaa3a3;
  top: 0;
  position: absolute;
  z-index: 1000;
  left: 0;
  display: inline-block;
  width: 320px;
  height: 190px;
  background-image: linear-gradient(
    to right bottom,
    #2be3e0,
    #0e8785
  ); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;

  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card__logo1 {
  height: 50px;
}

.button {
  border-radius: 200px;
  border: #45ade9;
  border-style: solid;
  border-width: 3px;
  border-bottom-left-radius: 90px;
  background-color: #fff;
  color: #45ade9;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 8px 18px 0 rgba(0, 0, 0, 0.14);
  text-align: center;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: #ffffff;
  border-color: #ffffff;
}

h3 {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  display: block;
  margin: auto;
  width: 600px;
}

.text {
  font-size: 20px;
  margin-right: 30px;
  font-family: "Space Mono", monospace;
}

.btn {
  align-items: center;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.box {
  align-items: center;
  display: flex;
  border-radius: 10px;
  margin-top: 15px;
  height: 40px;
  width: 100%;
  padding-left: 30px;
}

body {
  background-color: whitesmoke;
}

.i {
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
}

h1 {
  justify-content: flex-start;
  font-family: "Fantasy";
  font-size: 40px;
  text-shadow: 2px 2px 2px #0066cc;
  color: #191970;
}

.user {
  font-size: 27px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #45ade9;
  background: whitesmoke;
  overflow: auto;
  border-radius: 30px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.bg {
  padding: 5px;
  color: #45ade9;
  font-size: 13px;
  position: relative;
  bottom: 90px;
  border-radius: 200px;
  border: #45ade9;
  border-style: solid;
  border-width: 3px;
  border-bottom-left-radius: 90px;
}

.btnS {
  display: block;
  float: right;
  margin: 20px;
  border-radius: 200px;
  border: #45ade9;
  border-style: solid;
  border-width: 3px;
  border-bottom-left-radius: 90px;
  background-color: #fff;
  color: #45ade9;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.names {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  justify-content: space-evenly;
}

.p1 {
  color: #45ade9;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: underline;
}
.p2 {
  color: red;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: underline;
  text-align: center;
}

.p3 {
  color: green;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: underline;
  text-align: center;
}

.adh2 {
  align-content: center;
}

.b2 {
  align-items: center;
  display: flex;
  border-radius: 8px;
  margin-top: 1px;
  height: 40px;
  width: 90%;
  padding-left: 20px;
}

.b3 {
  margin: 20px;
  border-radius: 200px;
  border: #45ade9;
  border-style: solid;
  border-width: 3px;
  border-bottom-left-radius: 90px;
  background-color: #fff;
  color: #45ade9;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.d0 {
  border-bottom: 0;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 1px;
}

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.app {
  background-color: burlywood;
  margin: 5px;
}
.app img {
  width: 200px;
  height: 200px;
}
.app p {
  text-align: center;
  color: black;
}

.ceo {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
}

.about-text {
  font: "bold";
  line-height: 1.2em;
  /* padding: 35px; */
  color: #22201d;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.creat {
  font-size: 25px;
  border-style: solid;
  border-color: #45ade9;
  padding: 10px;
  border-radius: 20px;
  color: #000;
  border-width: 4px;
}

.cas {
  border-style: solid;
  border-color: #45ade9;
  padding: 10px;
  border-radius: 20px;
  color: #000;
  border-width: 4px;
  font-size: 15px;
  margin: 20px;
}

.at {
  margin: 10px;
  font-size: 20px;
}

.box1 {
  margin: 20px;
  border-color: #45ade9;
  border-radius: 10px;
  border-width: 2px;
}

.buttonAddBeneficiary {
  margin-left: 70px;
  margin-bottom: 25px;
}

.beneficiaryCard {
  display: flex;
  align-items: center;
}

.beneficiaryList {
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  margin: 10px;
}

.beneficiaryForm {
  align-items: center;
  justify-content: center;
  width: 400px;
}

.box2 {
  align-items: center;
  display: flex;
  border-radius: 20px;
  margin: 15px;
  height: 40px;
  width: 100%;
  padding-left: 30px;
}

.logo-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  object-fit: cover;
}
